*.suo
ipch/
Debug/
Release/
_ReSharper.Liquidus/
_Resharper.Slice/
*.sdf
/src/BuildingSlice/BuildingSlice/bld
/src/BuildingSlice/BuildingSlice/bin
/src/BuildingSlice/_ReSharper.BuildingSlice/PersistentCaches/000003.log
/src/BuildingSlice/_ReSharper.BuildingSlice/PersistentCaches/CURRENT
/src/BuildingSlice/_ReSharper.BuildingSlice/PersistentCaches/LOCK
/src/BuildingSlice/_ReSharper.BuildingSlice/PersistentCaches/LOG
/src/BuildingSlice/_ReSharper.BuildingSlice/PersistentCaches/MANIFEST-000002
/src/BuildingSlice/_ReSharper.BuildingSlice/RecentItems/RecentFiles.dat
/src/Slice/_ReSharper.Slice/AssemblyInfoCache.dat
/src/Slice/_ReSharper.Slice/BuildScriptCache/.crc
/src/Slice/_ReSharper.Slice/BuildScriptCache/.version
/src/Slice/_ReSharper.Slice/BuildScriptCache/8/53dadef8.dat
/src/Slice/_ReSharper.Slice/ConditionalNames/.crc
/src/Slice/_ReSharper.Slice/ConditionalNames/.version
/src/Slice/_ReSharper.Slice/ConditionalNames/4/279c17b3.dat
/src/Slice/_ReSharper.Slice/GeneratedFiles/.crc
/src/Slice/_ReSharper.Slice/GeneratedFiles/.version
/src/Slice/_ReSharper.Slice/GeneratedFiles/4/279c17b3.dat
/src/Slice/_ReSharper.Slice/JSTest/.crc
/src/Slice/_ReSharper.Slice/JSTest/.version
/src/Slice/_ReSharper.Slice/JSTest/6/33e51259.dat
/src/Slice/_ReSharper.Slice/JavaScriptCache/.crc
/src/Slice/_ReSharper.Slice/JavaScriptCache/.version
/src/Slice/_ReSharper.Slice/JavaScriptCache/7/196d2570.dat
/src/Slice/_ReSharper.Slice/JavaScriptCache/7/588904ec.dat
/src/Slice/_ReSharper.Slice/JavaScriptCache/7/737fd6a.dat
/src/Slice/_ReSharper.Slice/JavaScriptCache/8/87f3e8.dat
/src/Slice/_ReSharper.Slice/MVC/.crc
/src/Slice/_ReSharper.Slice/MVC/.version
/src/Slice/_ReSharper.Slice/NamedArguments/.crc
/src/Slice/_ReSharper.Slice/NamedArguments/.version
/src/Slice/_ReSharper.Slice/NamedArguments/4/279c17b3.dat
/src/Slice/_ReSharper.Slice/PersistentCaches/000005.sst
/src/Slice/_ReSharper.Slice/PersistentCaches/000006.log
/src/Slice/_ReSharper.Slice/PersistentCaches/CURRENT
/src/Slice/_ReSharper.Slice/PersistentCaches/LOCK
/src/Slice/_ReSharper.Slice/PersistentCaches/LOG
/src/Slice/_ReSharper.Slice/PersistentCaches/LOG.old
/src/Slice/_ReSharper.Slice/PersistentCaches/MANIFEST-000004
/src/Slice/_ReSharper.Slice/ProjectModel/projectModel.dat
/src/Slice/_ReSharper.Slice/Resources/.crc
/src/Slice/_ReSharper.Slice/Resources/.version
/src/Slice/_ReSharper.Slice/SymbolCache.bin
/src/Slice/_ReSharper.Slice/TagPrefixes/.crc
/src/Slice/_ReSharper.Slice/TagPrefixes/.version
/src/Slice/_ReSharper.Slice/WebSymbols/.crc
/src/Slice/_ReSharper.Slice/WebSymbols/.version
/src/Slice/_ReSharper.Slice/WebSymbols/4/279c17b3.dat
/src/Slice/Slice.sln.DotSettings.user
/src/Liquidus/Liquidus.sdf
/doc/screen-design/#graphics-asset.svg#
/doc/screen-design/-j
/doc/screen-design/a.png
/doc/screen-design/fonts-90/0.png
/doc/screen-design/fonts-90/1.png
/doc/screen-design/fonts-90/2.png
/doc/screen-design/fonts-90/3.png
/doc/screen-design/fonts-90/4.png
/doc/screen-design/fonts-90/5.png
/doc/screen-design/fonts-90/6.png
/doc/screen-design/fonts-90/7.png
/doc/screen-design/fonts-90/8.png
/doc/screen-design/fonts-90/9.png
/doc/screen-design/fonts-90/a.png
/doc/screen-design/fonts-90/b.png
/doc/screen-design/fonts-90/c.png
/doc/screen-design/fonts-90/colon.png
/doc/screen-design/fonts-90/d.png
/doc/screen-design/fonts-90/e.png
/doc/screen-design/fonts-90/f.png
/doc/screen-design/fonts-90/fontSrc.svg
/doc/screen-design/fonts-90/g.png
/doc/screen-design/fonts-90/h.png
/doc/screen-design/fonts-90/i.png
/doc/screen-design/fonts-90/j.png
/doc/screen-design/fonts-90/k.png
/doc/screen-design/fonts-90/l.png
/doc/screen-design/fonts-90/m.png
/doc/screen-design/fonts-90/minus.png
/doc/screen-design/fonts-90/n.png
/doc/screen-design/fonts-90/o.png
/doc/screen-design/fonts-90/p.png
/doc/screen-design/fonts-90/plus.png
/doc/screen-design/fonts-90/q.png
/doc/screen-design/fonts-90/r.png
/doc/screen-design/fonts-90/s.png
/doc/screen-design/fonts-90/t.png
/doc/screen-design/fonts-90/u.png
/doc/screen-design/fonts-90/v.png
/doc/screen-design/fonts-90/w.png
/doc/screen-design/fonts-90/x.png
/doc/screen-design/fonts-90/y.png
/doc/screen-design/fonts-90/z.png
/doc/screen-design/inkscape.bat~
/src/Liquidus/_ReSharper.Liquidus/BuildScriptCache/0/475847f.dat
/src/Liquidus/_ReSharper.Liquidus/JavaScriptCache/4/662e6e01.dat
/src/Liquidus/_ReSharper.Liquidus/JavaScriptCache/6/69aa5b59.dat
/src/Liquidus/_ReSharper.Liquidus/PersistentCaches/000005.sst
/src/Liquidus/_ReSharper.Liquidus/PersistentCaches/000006.log
/src/Liquidus/_ReSharper.Liquidus/PersistentCaches/LOG.old
/src/Liquidus/_ReSharper.Liquidus/PersistentCaches/MANIFEST-000004
/src/Liquidus/Liquidus.sln.DotSettings.user
/src/Liquidus/Liquidus/Liquidus.jsproj.user
/liquidus.sublime-workspace
/doc/screen-design/font-asset-160.png
/doc/screen-design/font-asset-160.txt
/doc/screen-design/fonts-120/100.png
/doc/screen-design/fonts-120/101.png
/doc/screen-design/fonts-120/102.png
/doc/screen-design/fonts-120/103.png
/doc/screen-design/fonts-120/104.png
/doc/screen-design/fonts-120/105.png
/doc/screen-design/fonts-120/106.png
/doc/screen-design/fonts-120/107.png
/doc/screen-design/fonts-120/108.png
/doc/screen-design/fonts-120/109.png
/doc/screen-design/fonts-120/110.png
/doc/screen-design/fonts-120/111.png
/doc/screen-design/fonts-120/112.png
/doc/screen-design/fonts-120/113.png
/doc/screen-design/fonts-120/114.png
/doc/screen-design/fonts-120/115.png
/doc/screen-design/fonts-120/116.png
/doc/screen-design/fonts-120/117.png
/doc/screen-design/fonts-120/118.png
/doc/screen-design/fonts-120/119.png
/doc/screen-design/fonts-120/120.png
/doc/screen-design/fonts-120/121.png
/doc/screen-design/fonts-120/122.png
/doc/screen-design/fonts-120/43.png
/doc/screen-design/fonts-120/45.png
/doc/screen-design/fonts-120/48.png
/doc/screen-design/fonts-120/49.png
/doc/screen-design/fonts-120/50.png
/doc/screen-design/fonts-120/51.png
/doc/screen-design/fonts-120/52.png
/doc/screen-design/fonts-120/53.png
/doc/screen-design/fonts-120/54.png
/doc/screen-design/fonts-120/55.png
/doc/screen-design/fonts-120/56.png
/doc/screen-design/fonts-120/57.png
/doc/screen-design/fonts-120/58.png
/doc/screen-design/fonts-120/65.png
/doc/screen-design/fonts-120/66.png
/doc/screen-design/fonts-120/67.png
/doc/screen-design/fonts-120/68.png
/doc/screen-design/fonts-120/69.png
/doc/screen-design/fonts-120/70.png
/doc/screen-design/fonts-120/71.png
/doc/screen-design/fonts-120/72.png
/doc/screen-design/fonts-120/73.png
/doc/screen-design/fonts-120/74.png
/doc/screen-design/fonts-120/75.png
/doc/screen-design/fonts-120/76.png
/doc/screen-design/fonts-120/77.png
/doc/screen-design/fonts-120/78.png
/doc/screen-design/fonts-120/79.png
/doc/screen-design/fonts-120/80.png
/doc/screen-design/fonts-120/81.png
/doc/screen-design/fonts-120/82.png
/doc/screen-design/fonts-120/83.png
/doc/screen-design/fonts-120/84.png
/doc/screen-design/fonts-120/85.png
/doc/screen-design/fonts-120/86.png
/doc/screen-design/fonts-120/87.png
/doc/screen-design/fonts-120/88.png
/doc/screen-design/fonts-120/89.png
/doc/screen-design/fonts-120/90.png
/doc/screen-design/fonts-120/97.png
/doc/screen-design/fonts-120/98.png
/doc/screen-design/fonts-120/99.png
/doc/screen-design/fonts-120/fontSrc.svg
/doc/screen-design/fonts-160/100.png
/doc/screen-design/fonts-160/101.png
/doc/screen-design/fonts-160/102.png
/doc/screen-design/fonts-160/103.png
/doc/screen-design/fonts-160/104.png
/doc/screen-design/fonts-160/105.png
/doc/screen-design/fonts-160/106.png
/doc/screen-design/fonts-160/107.png
/doc/screen-design/fonts-160/108.png
/doc/screen-design/fonts-160/109.png
/doc/screen-design/fonts-160/110.png
/doc/screen-design/fonts-160/111.png
/doc/screen-design/fonts-160/112.png
/doc/screen-design/fonts-160/113.png
/doc/screen-design/fonts-160/114.png
/doc/screen-design/fonts-160/115.png
/doc/screen-design/fonts-160/116.png
/doc/screen-design/fonts-160/117.png
/doc/screen-design/fonts-160/118.png
/doc/screen-design/fonts-160/119.png
/doc/screen-design/fonts-160/120.png
/doc/screen-design/fonts-160/121.png
/doc/screen-design/fonts-160/122.png
/doc/screen-design/fonts-160/43.png
/doc/screen-design/fonts-160/45.png
/doc/screen-design/fonts-160/48.png
/doc/screen-design/fonts-160/49.png
/doc/screen-design/fonts-160/50.png
/doc/screen-design/fonts-160/51.png
/doc/screen-design/fonts-160/52.png
/doc/screen-design/fonts-160/53.png
/doc/screen-design/fonts-160/54.png
/doc/screen-design/fonts-160/55.png
/doc/screen-design/fonts-160/56.png
/doc/screen-design/fonts-160/57.png
/doc/screen-design/fonts-160/58.png
/doc/screen-design/fonts-160/65.png
/doc/screen-design/fonts-160/66.png
/doc/screen-design/fonts-160/67.png
/doc/screen-design/fonts-160/68.png
/doc/screen-design/fonts-160/69.png
/doc/screen-design/fonts-160/70.png
/doc/screen-design/fonts-160/71.png
/doc/screen-design/fonts-160/72.png
/doc/screen-design/fonts-160/73.png
/doc/screen-design/fonts-160/74.png
/doc/screen-design/fonts-160/75.png
/doc/screen-design/fonts-160/76.png
/doc/screen-design/fonts-160/77.png
/doc/screen-design/fonts-160/78.png
/doc/screen-design/fonts-160/79.png
/doc/screen-design/fonts-160/80.png
/doc/screen-design/fonts-160/81.png
/doc/screen-design/fonts-160/82.png
/doc/screen-design/fonts-160/83.png
/doc/screen-design/fonts-160/84.png
/doc/screen-design/fonts-160/85.png
/doc/screen-design/fonts-160/86.png
/doc/screen-design/fonts-160/87.png
/doc/screen-design/fonts-160/88.png
/doc/screen-design/fonts-160/89.png
/doc/screen-design/fonts-160/90.png
/doc/screen-design/fonts-160/97.png
/doc/screen-design/fonts-160/98.png
/doc/screen-design/fonts-160/99.png
/doc/screen-design/fonts-160/fontSrc.svg
/doc/screen-design/fonts-90/100.png
/doc/screen-design/fonts-90/101.png
/doc/screen-design/fonts-90/102.png
/doc/screen-design/fonts-90/103.png
/doc/screen-design/fonts-90/104.png
/doc/screen-design/fonts-90/105.png
/doc/screen-design/fonts-90/106.png
/doc/screen-design/fonts-90/107.png
/doc/screen-design/fonts-90/108.png
/doc/screen-design/fonts-90/109.png
/doc/screen-design/fonts-90/110.png
/doc/screen-design/fonts-90/111.png
/doc/screen-design/fonts-90/112.png
/doc/screen-design/fonts-90/113.png
/doc/screen-design/fonts-90/114.png
/doc/screen-design/fonts-90/115.png
/doc/screen-design/fonts-90/116.png
/doc/screen-design/fonts-90/117.png
/doc/screen-design/fonts-90/118.png
/doc/screen-design/fonts-90/119.png
/doc/screen-design/fonts-90/120.png
/doc/screen-design/fonts-90/121.png
/doc/screen-design/fonts-90/122.png
/doc/screen-design/fonts-90/43.png
/doc/screen-design/fonts-90/45.png
/doc/screen-design/fonts-90/48.png
/doc/screen-design/fonts-90/49.png
/doc/screen-design/fonts-90/50.png
/doc/screen-design/fonts-90/51.png
/doc/screen-design/fonts-90/52.png
/doc/screen-design/fonts-90/53.png
/doc/screen-design/fonts-90/54.png
/doc/screen-design/fonts-90/55.png
/doc/screen-design/fonts-90/56.png
/doc/screen-design/fonts-90/57.png
/doc/screen-design/fonts-90/58.png
/doc/screen-design/fonts-90/65.png
/doc/screen-design/fonts-90/66.png
/doc/screen-design/fonts-90/67.png
/doc/screen-design/fonts-90/68.png
/doc/screen-design/fonts-90/69.png
/doc/screen-design/fonts-90/70.png
/doc/screen-design/fonts-90/71.png
/doc/screen-design/fonts-90/72.png
/doc/screen-design/fonts-90/73.png
/doc/screen-design/fonts-90/74.png
/doc/screen-design/fonts-90/75.png
/doc/screen-design/fonts-90/76.png
/doc/screen-design/fonts-90/77.png
/doc/screen-design/fonts-90/78.png
/doc/screen-design/fonts-90/79.png
/doc/screen-design/fonts-90/80.png
/doc/screen-design/fonts-90/81.png
/doc/screen-design/fonts-90/82.png
/doc/screen-design/fonts-90/83.png
/doc/screen-design/fonts-90/84.png
/doc/screen-design/fonts-90/85.png
/doc/screen-design/fonts-90/86.png
/doc/screen-design/fonts-90/87.png
/doc/screen-design/fonts-90/88.png
/doc/screen-design/fonts-90/89.png
/doc/screen-design/fonts-90/90.png
/doc/screen-design/fonts-90/97.png
/doc/screen-design/fonts-90/98.png
/doc/screen-design/fonts-90/99.png
/doc/screen-design/fonts-200/100.png
/doc/screen-design/fonts-200/101.png
/doc/screen-design/fonts-200/102.png
/doc/screen-design/fonts-200/103.png
/doc/screen-design/fonts-200/104.png
/doc/screen-design/fonts-200/105.png
/doc/screen-design/fonts-200/106.png
/doc/screen-design/fonts-200/107.png
/doc/screen-design/fonts-200/108.png
/doc/screen-design/fonts-200/109.png
/doc/screen-design/fonts-200/110.png
/doc/screen-design/fonts-200/111.png
/doc/screen-design/fonts-200/112.png
/doc/screen-design/fonts-200/113.png
/doc/screen-design/fonts-200/114.png
/doc/screen-design/fonts-200/115.png
/doc/screen-design/fonts-200/116.png
/doc/screen-design/fonts-200/117.png
/doc/screen-design/fonts-200/118.png
/doc/screen-design/fonts-200/119.png
/doc/screen-design/fonts-200/120.png
/doc/screen-design/fonts-200/121.png
/doc/screen-design/fonts-200/122.png
/doc/screen-design/fonts-200/43.png
/doc/screen-design/fonts-200/45.png
/doc/screen-design/fonts-200/48.png
/doc/screen-design/fonts-200/49.png
/doc/screen-design/fonts-200/50.png
/doc/screen-design/fonts-200/51.png
/doc/screen-design/fonts-200/52.png
/doc/screen-design/fonts-200/53.png
/doc/screen-design/fonts-200/54.png
/doc/screen-design/fonts-200/55.png
/doc/screen-design/fonts-200/56.png
/doc/screen-design/fonts-200/57.png
/doc/screen-design/fonts-200/58.png
/doc/screen-design/fonts-200/65.png
/doc/screen-design/fonts-200/66.png
/doc/screen-design/fonts-200/67.png
/doc/screen-design/fonts-200/68.png
/doc/screen-design/fonts-200/69.png
/doc/screen-design/fonts-200/70.png
/doc/screen-design/fonts-200/71.png
/doc/screen-design/fonts-200/72.png
/doc/screen-design/fonts-200/73.png
/doc/screen-design/fonts-200/74.png
/doc/screen-design/fonts-200/75.png
/doc/screen-design/fonts-200/76.png
/doc/screen-design/fonts-200/77.png
/doc/screen-design/fonts-200/78.png
/doc/screen-design/fonts-200/79.png
/doc/screen-design/fonts-200/80.png
/doc/screen-design/fonts-200/81.png
/doc/screen-design/fonts-200/82.png
/doc/screen-design/fonts-200/83.png
/doc/screen-design/fonts-200/84.png
/doc/screen-design/fonts-200/85.png
/doc/screen-design/fonts-200/86.png
/doc/screen-design/fonts-200/87.png
/doc/screen-design/fonts-200/88.png
/doc/screen-design/fonts-200/89.png
/doc/screen-design/fonts-200/90.png
/doc/screen-design/fonts-200/97.png
/doc/screen-design/fonts-200/98.png
/doc/screen-design/fonts-200/99.png
/doc/screen-design/fonts-200/fontSrc.svg